// Place all the styles related to the Movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






.inline {
  margin-left: 20px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: text-top;
}

.movie-item {
   margin: 2px;
 }

 // img.small-cover {
 //     width: 200px;
 //     height: 300px;
